# deps
node_modules/
.pnpm-store/

# builds
dist/
build/
out/
*.tsbuildinfo

# env / secrets
.env
.env.*
!.env.example

# db
*.sqlite
postgres-data/

# foundry
contracts/out/
contracts/cache/
contracts/broadcast/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
